.frontend section {
    padding: 70px 0;

    @include screen-xs {
        padding: 30px 0;
    }
}

.container {

    @include screen-lg {
        width: 1170px;
    }

    @include screen-md {
        width: 970px;
    }

    @include screen-sm {
        width: 750px;
    }

    @include screen-xs {
        width: 100%;
    }
}

footer {
    display: block;
    height: 250px;
    background: #444444;
    padding: 40px 0;
    position: relative;

    .container {
        height: 100%;

        .row {
            height: 100%;
        }
    }

    * {
        color: $color-white;
    }

    p {
        font-weight: 100;
    }

    .copyright-footer {

        p {
            margin: 0;
            position: absolute;
            bottom: 0;
        }
    }
}