section {
    padding: 100px 0;

    @include screen-xs {
        padding: 30px 0;
    }
}

.container {

    @include screen-lg {
        width: 1170px;
    }

    @include screen-md {
        width: 970px;
    }

    @include screen-sm {
        width: 750px;
    }

    @include screen-xs {
        width: auto;
    }
}