
// Body
$body-bg: #f8fafc;

$box-shadow         : 0 4px 20px -5px rgba(0, 0, 0, 0.2);
$box-shadow-hover   : 0 8px 20px -5px rgba(0, 0, 0, 0.1);

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$color-red          : #C6002A;
$color-black        : #000001;
$color-white        : #FFFFFF;
$color-grey         : #EAEAEA;
$color-hover-grey   : #d0d0d0;
$color-text         : #000001;

// screen break points
$screen-xs-max: 768px;
$screen-sm-min: 768px;
$screen-sm-max: 992px;
$screen-md-min: 992px;
$screen-md-max: 1200px;
$screen-lg-min: 1200px;
$screen-lg-max: 1366px;
$screen-xl-min: 1367px;


